.contact-us {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.contact-header {
  text-align: center;
  margin-bottom: 20px;
}

.contact-header h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contact-info {
  flex: 1;
  max-width: 300px;
}

.contact-info h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 0;
}

.contact-info span {
  font-weight: bold;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-width: 0.5px;
  outline-color: #4caf50;
}

.contact-form button {
  display: block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #45a049;
}

.contact-map {
  /* Add styles for the Google Map section if needed */
}
