.design-overlay-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  background-color: transparent;
}

.line {
  position: "absolute";
  content: "";
  /* border: 1px dashed #000; */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.design-constrain {
  position: absolute;
  z-index: 0;
  border: 1px dashed #000;
}

.overlay-image {
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

.overlay-content {
  width: 75%;
  object-fit: contain;
}
