/* footer.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-item {
  margin-bottom: 10px;
}

.contact-item span {
  font-weight: bold;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
